<div class="row">
    <div class="col-md-3">
        <img src="/img/mocchau.jpg" width="100%">
    </div>
    <div class=" col-md-9 infor">
        <h4 class="t1">Hà Nội - Mộc Châu</h4>
        <h6>30/4/2015 - 2/5/2015</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="clear"></div>
</div>