<div class="box_1x nhanxet">
    <div class="col-md-2 col-sm-2 col-xs-2 cm_ava">
        <img src="/img/ava.jpg" width="100%">
        <p class="user_name"><a>Quỳnh Vũ</a></p>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="content">
            <div class="ngay">
                <p><span class="gio">15:30</span> 12/3/2015</p>
            </div>
            <div class="rate">
                *****
            </div>
            <div class="clear"></div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="muiten">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>