<div class="row">
    <div class="col-md-12">
        <div class="status">
            <p class="title">Tin nhắn cũ</p>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="row box_1x">
    {% if message_old %}
        {% for val in message_old %}
        <div class="padding_top nhanxet">
            <div class="col-md-1 col-sm-1 col-xs-2 cm_ava">
                <img src="{{val['avatar']}}" width="45px" height="45px">
            </div>
            <div class="col-md-11 col-sm-11 col-xs-10 noti">
                <p><a>{{val['user_name']}}</a></p>
                <h6>{{val['time']}} trước </h6>
                <p data-toggle="modal" data-target="#reply" id="click_view_message-{{val['id']}}" class="click_view_message">{{val['msg']|raw}}</p>
            </div>
            <div class="clear"></div>
        </div>
        {% endfor %}
    {% endif %}
</div>