<div class="row">
					<div class="col-md-12">
						<h4>Thông tin cá nhân</h4>
					</div>
				</div>
				<div class="row padding_top">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<p>Giới tính:</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-8">
						<select class="form-control-2">
							<option>Nam</option>
							<option>Nữ</option>
							<option>Chưa xác định</option>
						</select>
					</div>
				</div>
				<div class="row padding_top">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<p>Độ tuổi:</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-8">
						<select class="form-control-2">
							<option>Chọn độ tuổi</option>
							<option>Dưới 18 tuổi</option>
							<option>Từ 18-23 tuổi</option>
							<option>Từ 23-40 tuổi</option>
							<option>Trên 40 tuổi</option>
						</select>
					</div>
				</div>
				<div class="row padding_top">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<p>Nghê nghiệp:</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-8">
						<select class="form-control-2">
							<option>Chọn nghề nghiệp</option>
							<option>Học sinh</option>
							<option>Sinh viên</option>
							<option>Người đi làm</option>
							<option>Dân văn phòng</option>
							<option>Người già</option>
							<option>Người khuyết tật</option>
							<option>Tôi là cá nhân cung cấp dịch vụ vận chuyển</option>
						</select>
					</div>
				</div>
				<div class="row padding_top">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<p>Địa phương:</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-8">
						<select class="form-control-2">
							<option>Chọn địa phương</option>
						</select>
					</div>
				</div>
				<div class="row padding_top">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<p>Giới thiệu</p>
					</div>
					<div class="col-md-10 col-sm-4 col-xs-8">
						<textarea class="form-control"></textarea>
					</div>
				</div>