<div class="row">
    <div class="col-md-12">
        <h4>{{translate('Thông tin tài khoản ngân hàng')}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4">
        <p>{{translate('Số tài khoản')}}:</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-8">
        <input class="form-control" placeholder="{{translate('Chưa có thông tin')}}" name="bank_code" value="{{user.getBankCode}}">
    </div>
</div>
<div class="row padding_top">
    <div class="col-md-2 col-sm-4 col-xs-4">
        <p>{{translate('Chủ tài khoản')}}:</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-8">
        <input class="form-control" placeholder="{{translate('Chưa có thông tin')}}" name="bank_owner" value="{{user.getBankOwner}}">
    </div>
</div>
<div class="row padding_top">
    <div class="col-md-2 col-sm-4 col-xs-4">
        <p>{{translate('Ngân hàng')}}:</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-8">
        <input class="form-control" placeholder="{{translate('Chưa có thông tin')}}" name="bank_name" value="{{user.getBankName}}">
    </div>
</div>
<div class="row padding_top">
    <div class="col-md-2 col-sm-4 col-xs-4">
        <p>Paypal ({{translate('Nếu có')}}):</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-8">
        <input class="form-control" placeholder="{{translate('Chưa có thông tin')}}" name="paypal" value="{{user.getPaypal}}">
    </div>
</div>