<!--_question_answered_answered.html-->
<div class="row">
	<div class="col-md-offset-1 col-md-1">
		<img src="/img/ava2.png" class="img-circle" width="100%"/>
	</div>
	<div class="col-md-10">
		<p class="text-uppercase"><a>Quỳnh Kul</a></p>
		<p><small>Thứ 5, ngày 21 tháng 5 năm 2015</small></p>
		<hr style="margin-top: 10px"/>
		<p>Where should I go in Barcelona? If you've been to Barcelona, I'd love recommendations on fun streets/neighborhoods to walk around
		as well as restaurants and sites that we ought to check out. ...and if you know of any incredible shoe stores in Barcelona,
		definitely let me know. Thanks in advance for your advice and suggestions!</p>
		<div class="text-right padding_top">
			<a class="like_question"><small>1.2k </small> <span> | </span> Thích</a>
			<a class="answer_question answer" id="answer">Trả lời</a>
		</div>
	</div>
	<div class="clear"></div>
	<div class="col-md-offset-1 col-md-11">
		<hr/>
	</div>
</div>		