{% extends "layout.html"%}
{% block body %}
<link href="/assets/dichungdulich/css/area.css?v={{random()}}" rel="stylesheet">
<script type="text/javascript" src="/assets/js/typeahead.min.js?v={{random()}}"></script>
<script type="text/javascript" src="/assets/dichungdulich/js/area_tour.js?v={{random()}}"></script>
<div class="white_bg box_3x">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center box_1x">
                <h3 class="t1">{{translate('Tour quốc tế')}}</h3>
                 <h4><small>{{count_all_tour_quoc_te}} {{translate('tour đến')}} {{count_all_diem_den_quoc_te}} {{translate('địa điểm du lịch quốc tế được tổng hợp trong bàn tay bạn. Chỉ đơn giản chọn một tour mà bạn thấy phù hợp và trải nghiệm')}}.</small></h4>
            </div>
        </div>
		<div class="row box_2x">
			<div class="col-md-3">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="{{translate('Tìm kiếm địa điểm')}}" id="end_quoc_te">
				  <span class="input-group-btn">
					<button class="btn btn_orange" type="button" id="button_search_end_quoc_te">{{translate('Tìm kiếm')}}</button>
				  </span>
				</div>
			</div>
			<div class="col-md-offset-6 col-md-3">
				<select class="form-control" id="select_filter_tour_quoc_te">
					<option value="0">{{translate('Xếp theo')}}</option>
					<option value="1">{{translate('Nhiều tour nhất')}}</option>
				</select>
			</div>
		</div>
        <div class="row" id="div_area_tour_loading">
			{{get_partial('area_list',{diem_den:diem_den_quoc_te})|raw}}
		</div>
		<div class="row">
			<center><div class="loadMore ksb" id="showmoretour_quoc_te"> 
    			<img style="display:none" id="img_loading" align="absmiddle" src="/images/ajax-loader.gif"> {{translate('Hiển thị thêm')}}
    		</div></center>
		</div>
    </div>
</div>
{% endblock %}