<div class="creattrip_prog">
    <div class="container">
        <div class="row creattrip_menu">
            <div class="col-md-4 col-sm-4 col-xs-4 menu_ele active" id="div_step_1">
                <a id="click_step_1"><span class="diadiem"></span>Địa điểm</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 menu_ele" id="div_step_2">
                <a id="click_step_2"><span class="lichtrinh"></span>Lịch trình</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 menu_ele" id="div_step_3">
                <a id="click_step_3"><span class="chiphi"></span>Chi phí</a>
            </div>
        </div>
    </div>
</div>