<div class="col-md-6 box_1x">
    <div class="tour">
        <a href="#">
            <div class="tour_ava">
                <img src="/img/mocchau.jpg" width="100%">
                <div class="tour_name">
                    <p class="name">Mộc Châu</p>
                    <p class="time">3 {{translate('Ngày')}} - 2 {{translate('Đêm')}}</p>
                    <p class="cho">{{translate('Còn')}} 4/5 {{translate('chỗ')}}</p>
                </div>
            </div>
        </a>
        <div class="tour_user">
            <div class="user_ava">
                <img src="/img/ava.jpg">
            </div>
            <div class="user_name">
                <a>Quỳnh Vũ</a>
                <p>*****</p>
            </div>
            <div class="tour_gia text-right">
                <a>2.500.000 Đ</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sale">
            <p class="giamgia">{{translate('Giảm giá')}}</p>
            <p class="gia">20%</p>
        </div>
    </div>
</div>