<div class="white_bg">
        <div class="container box_3x">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="t1">{{translate('Tour nổi bật')}}</p>
                </div>
				<div class="col-md-4">
                {% include '_index_body_tour_list_tour.html' %}
				</div>
                <div class="col-md-4">
                {% include '_index_body_tour_list_tour.html' %}
				</div>
				<div class="col-md-4">
                {% include '_index_body_tour_list_tour.html' %}
				</div>
            </div>
        </div>
    </div>