<div class="filter">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading head_box" data-toggle="collapse" >
             <h4 class="panel-title">
                <a href="#">{{translate('Loại tour')}}</a>
            </h4>
        </div>
        <div class="panel-body">
          <div class="body">
            <select class="form-control" name="loai_tour_search" id="loai_tour_search">
              <option value="0">{{translate('Chọn loại tour')}}</option>
              <option value="1">{{translate('Trọn gói')}}</option>
              <option value="2">{{translate('Free and Easy')}}</option>
              <option value="3">{{translate('Land tour')}}</option>
            </select>         
          </div> 
        </div>
      </div>
  </div>
</div>