<div class="filter">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed head_box" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
             <h4 class="panel-title">
                <a href="#">
                    {{translate('Hình thức du lịch')}}
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body" id="div_sorting_hinh_thuc_du_lich">
              {% for key,val in StaticCall('TourSortingPeer', 'getAll')%}
                    {% set keys = key + 1%}
              <p><input type="checkbox" value="{{val.getId}}" id="select_check_sorting" name="select_check_sorting[]" /> {{val.getShowName}} <span class="blue_text">({{sorting_hotro[keys]|length}})</span></p>
              {% endfor %}
            </div>
        </div>
      </div>
  </div>
</div>