<div class="filter">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading head_box" data-toggle="collapse" >
             <h4 class="panel-title">
                <a href="#">{{translate('Tìm theo từ khóa')}}</a>
            </h4>
        </div>
        <div  >
            <div class="panel-body">
              <div class="body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{translate('Nhập từ khóa')}}" name="text_search" id="text_search" >
                  <span class="input-group-btn">
                    <button class="btn btn_orange" type="submit" id="button_search" style="width:80px">{{translate('Tìm')}}</button>
                  </span>
                </div>                        
              </div> 
            </div>
        </div>
      </div>
  </div>
</div>
