
                        <div class="danhgia">
                            <div class="header">
                                <p>Thông tin cá nhân</p>
                            </div>
                            <div class="content row">
                                <div class="col-md-3 col-sm-3 col-xs-4 tieude">
                                    <p>Giới tính:</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-8 thongtin">
                                    <p>Nam</p>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-4 tieude">
                                    <p>Độ tuổi:</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-8 thongtin">
                                    <p>18-24</p>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-4 tieude">
                                    <p>Nghề nghiệp:</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-8 thongtin">
                                    <p>Văn phòng</p>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-4 tieude">
                                    <p>Địa phương:</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-8 thongtin">
                                    <p>Hà Nội</p>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-4 tieude">
                                    <p>giới thiệu:</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-8 thongtin">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>