{% if StaticCall('HomeDiemDenItemPartnerPeer', 'get_on_home_page')|length %}
<div class="white_bg">
    <div class="container box_3x">
       <div class="row">
          <div class="col-md-12" style="padding-bottom:15px">
             <a class="h3 t1" href="{{url_for('@findTour')}}" id="click_diem_den_pho_bien">{{translate('Điểm đến phổ biến')}} 
             <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span></small>
             </a>
          </div>
          <div  class="carousel slide" data-ride="carousel" data-interval="false" id="home_diem_den_item_partner">
             <div class="carousel-inner" role="listbox">
                {% for key,val in StaticCall('HomeDiemDenItemPartnerPeer', 'get_on_home_page') %}
                <div class="item {% if not key %}{{'active'}}{% endif %}">
                   <div class="col-lg-4 col-xs-12 col-md-4 col-sm-12">
                      <div class="vung">
                         <a href="/tim-kiem-tour/trang/1?booking_form%5Bpick_address%5D=&booking_form%5Bto_address%5D={{val.getName}}&booking_form%5Bstart_date%5D=&coo_start=&coo_end={{val.getGooglePosition}}">
                            <img src="http://{{sf_user.host}}/thumbnail/index.php?src={{val.getImg}}&w=310&h=220&q=100" alt="{{val.getName}}" width="100%" />
                            <h3 class="description_vung_du_lich">{{val.getName}}</h3>
                         </a>
                      </div>
                   </div>
                </div>
                {% endfor %}
             </div>
             <a class="left carousel-control" href="#home_diem_den_item_partner" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#home_diem_den_item_partner" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
             </a>
          </div>
       </div>
    </div>
</div>
{% endif %}