<div id="myCarousel"  class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for key,val in images_slide %}
            <li data-target="#myCarousel" data-slide-to="{{key}}" {% if not key %}{{'class="active"'}}{% endif%}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for key,val in images_slide %}
        <div class="item {% if not key %}{{'active'}}{% endif %}">
            <div class="fill" style="background-image:url('{{val.getImages}}');-webkit-filter: brightness(0.9);filter: brightness(0.8);"></div>
        </div>
        {% endfor %}
    </div>
    <div class="slogan"><p>{{setting_site.getShowSlogenSlide}}</p></div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>