<link rel="stylesheet" type="text/css" href="/assets/dichungdulich/css/css_jsor.css?v={{random()}}">
<script type="text/javascript" src="/assets/dichungdulich/js/jssor.core.js?v={{random()}}"></script>
<script type="text/javascript" src="/assets/dichungdulich/js/jssor.slider.js?v={{random()}}"></script>
<script type="text/javascript" src="/assets/dichungdulich/js/jssor.utils.js?v={{random()}}"></script>
<script type="text/javascript" src="/assets/dichungdulich/js/slide_partner.js?v={{random()}}"></script>
<div class="gray_bg box_2x">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>{{translate('Đối tác của chúng tôi')}}</h3>					
            </div>
            <div class="col-md-12">
                <!-- Jssor Slider Begin -->
                <!-- You can move inline styles to css file or css block. -->
                <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 990px; height: 75px; overflow: hidden;">
                    <!-- Loading Screen -->
                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                             background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
                        </div>
                        <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                             top: 0px; left: 0px;width: 100%;height:100%;">
                        </div>
                    </div>

                    <!-- Slides Container -->
                    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 990px; height: 75px; overflow: hidden;">
                        <div><img u="image" src="/img/parter/apttravel.png" /></div>
                        <div><img u="image" src="/img/parter/cbttravel.png" /></div>
                        <div><img u="image" src="/img/parter/cholon.png" /></div>
                        <div><img u="image" src="/img/parter/ivivucom.png" /></div>
                        <div><img u="image" src="/img/parter/khac.png" /></div>
                        <div><img u="image" src="/img/parter/mytour.png" /></div>
                        <div><img u="image" src="/img/parter/pystravel.png" /></div>
                        <div><img u="image" src="/img/parter/saigontourist.png" /></div>
                        <div><img u="image" src="/img/parter/touristone.png" /></div>
                        <div><img u="image" src="/img/parter/trippy.png" /></div>
                        <div><img u="image" src="/img/parter/humanitours.png" /></div>
                        <div><img u="image" src="/img/parter/viettravel.png" /></div>
                    </div>
                    <!-- Arrow Left -->
                    <span u="arrowleft" class="jssora03l" style="width: 23px; height: 23px; top: 6px; left: 8px;">
                    </span>
                    <!-- Arrow Right -->
                    <span u="arrowright" class="jssora03r" style="width: 23px; height: 23px; top: 6px; right: 8px">
                    </span>
                    <!-- Arrow Navigator Skin End -->
                </div>
            </div>
        </div>
    </div>
</div>