<link href="/assets/dichungdulich/css/find.css?v={{random()}}" rel="stylesheet">
<div class=" box_3x">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="h3 t1" href="{% if not sf_user.isEn %}{{url_for('@acquirements')}}{% else %}{{url_for('@acquirements_en')}}{% endif%}">{{translate('Trải nghiệm nổi bật')}}
          <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span></small>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false" id="experience_carosel">
        <div class="carousel-inner">
          {% for key,val in StaticCall('TripAcquirementsPeer','get_on_home_page') %}
          {% if key == '0'%}
          <div class="item active">
            {% else %}
            <div class="item">
              {% endif%}
              <div class="col-md-4 box_1x">
                <div class="exp_infor_bg">
                  <a href="{{val['url']}}" target="_blank"><img src="{{val['images']}}" width="100%"/></a>
                  <div class="exp_infor_ava">
                    <a href="{{val['url_user']}}" target="_blank"><img src="{{val['avatar']}}" class="ava" height="50px"></a>
                  </div>
                  <div class="exp_infor_user">          
                    <p><a class="text-uppercase trip" href="{{val['url']}}" target="_blank">{{val['title']|slice(0,40)}}</a></p>
                    <h5><small><span class="location"></span>{{val['end']}}</small></h5>
                    <p class="padding_top"><a class="username" href="{{val['url_user']}}" target="_blank">{{val['fullname']}}</a></p> 
                  </div>
                  <div class="clear"></div>
                  <div class="statistic">
                    <div class="row text-center">
                      <div class="col-md-12 col-sm-4 col-xs-4 text-center">
                        <h5><img src="/img/view_sl.png"><small> {{val['count_view']}}</small></h5>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <a class="left carousel-control" href="#experience_carosel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#experience_carosel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>