<div class="gray_bg box_2x">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6 tag_list">
                <p><strong>Du lịch trong nước</strong></p>
                <div class="row">	
                    <div class="col-md-4">
                        <p><small><a href="" target="_blank">Du lịch Huế</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Lào Cai</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Hạ Long</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Đà Nẵng</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Phan Thiết</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Đà Lạt</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Nha Trang</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Phú Quốc</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Nghệ An</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Hà Nội</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Thanh Hóa</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Sóc Trăng</a></small></p>
                    </div>
                    <div class="col-md-4">
                        <p><small><a href="" target="_blank">Du lịch Điện Biên</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Bến Tre</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Cao Bằng</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Phú Yên</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Ninh Thuận</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch An Giang</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Bình Định</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Ha Long</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Hà Tiên</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Sóc Trăng</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Vĩnh Long</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Cần Thơ</a></small></p>
                    </div>
                    <div class="col-md-4">
                        <p><small><a href="" target="_blank">Du lịch Tiền Giang</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Vũng Tàu</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Đồng Nai</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Quảng Nam</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Pleiku</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Kon Tum</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Ban Mê Thuột</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Bảo Lộc</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Quảng Bình</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Quảng Trị</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Hải Phòng</a></small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 tag_list">
                <p><strong>Du lịch nước ngoài</strong></p>
                <div class="row">
                    <div class="col-md-4">
                        <p><small><a href="" target="_blank">Du lịch Hoa Kỳ</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Úc</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Hàn Quốc</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Singapore</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Malaysia</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Thái Lan</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Hồng Kông &amp; Macau</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Nga</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch New Zealand</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Pháp</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Châu Âu</a></small></p>
                    </div>
                    <div class="col-md-4">
                        <p><small><a href="" target="_blank">Du lịch Campuchia</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Nhật Bản</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Vatican</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Tây Tạng</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Peru</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Kenya</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Sri Lanka</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Oman</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Triều Tiên</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Bhutan</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Hawaii</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Nam Phi</a></small></p>
                    </div>
                    <div class="col-md-4">
                        <p><small><a href="" target="_blank">Du lịch Ai Cập</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Mauritius</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Kazakhstan</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Maldives</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Chile</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Argentina</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Brazil</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Cuba</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Tàu du lịch</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Nepal</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Philippines</a></small></p>
                        <p><small><a href="" target="_blank">Du lịch Mông Cổ</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>