<div class="row box_1x_">
    <div class="col-md-3 col-sm-3 col-xs-6 padding_top">
        <select class="form-control" name="creat_trip_costs[add_cost]" id="creat_trip_costs_add_cost">
            <option>{{translate('Chi phí đi lại')}}</option>
            <option>{{translate('Chi phí ở')}}</option>
            <option>{{translate('Chi phí ăn uống')}}</option>
            <option>{{translate('Vé vào khu vui chơi')}}</option>
            <option>{{translate('Chi phí hướng dẫn viên')}}</option>
            <option>{{translate('Chi phí khác')}}</option>
        </select>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-5 padding_top">
        <div class="input-group">
            <input type="text" class="form-control" name="creat_trip_costs[add_price]" id="creat_trip_costs_add_price">
            <span class="input-group-addon">VNĐ</span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-11 padding_top">
        <input class="form-control" name="creat_trip_costs[add_price_decription]" id="creat_trip_costs_add_price_decription"/>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1 padding_top">
        <a class="sub"></a>
    </div>
</div>