<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h4 class="title">{{translate('Ngày 1')}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p class="hightlight">{{translate('Tiêu đề')}}</p>
            <input class="form-control">
        </div>
        <div class="col-md-3">
            <p class="hightlight">{{translate('Phương tiện di chuyển')}}:</p>
            <select class="form-control">
                <option>{{translate('Ô tô')}}</option>
                <option>{{translate('Xe Máy')}}</option>
                <option>{{translate('Máy bay')}}</option>
                <option>{{translate('Tàu hỏa')}}</option>
            </select>
        </div>
    </div>
    <div class="row padding_top">
        <div class="col-md-4">
            <button class="btn btn_blue" data-toggle="modal" data-target="#chonanh">{{translate('Chọn ảnh lịch trình')}}</button>
        </div>
    </div>
    <div class="row padding_top">
        <div class="col-md-12">
            <p class="hightlight">{{translate('Nội dung')}}</p>
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
</div>