<div class="row">
	<div class="box_1x">
		<form class="col-md-4">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="Tìm kiếm">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</span>
			</div>
		</form>
		<div class="col-md-8">
			<label class="checkbox-inline">
				<input type="checkbox" class="anh_checkbox"> <p><span class="khachsan"></span><span class="anh_luachon">Khách sạn</span></p>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" class="anh_checkbox"> <p><span class="nhahang"></span><span class="anh_luachon">Nhà hàng</span></p>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" class="anh_checkbox"> <p><span class="diadiem_"></span><span class="anh_luachon">Địa điểm</span></p>
			</label>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="row box_1x">
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
	</div>
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
	</div>
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
	</div>
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
	</div>
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
	</div>
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
	</div>
</div>