<script type="text/javascript">
    $(document).ready(function () {
        tinymce.init({selector: '#tour_note, #policy_price, #policy_ticket',
            mode: "textareas",
            plugins: "paste",
            theme_advanced_buttons3_add: "pastetext,pasteword,selectall",
            paste_auto_cleanup_on_paste: true,
            paste_preprocess: function (pl, o) {
                // Content string containing the HTML from the clipboard

                o.content = o.content;
            },
            paste_postprocess: function (pl, o) {
                // Content DOM node containing the DOM structure of the clipboard

                o.node.innerHTML = o.node.innerHTML;
            }});
    });
</script>
<div class="error" id="popup_error_note" style="display:none"></div>
<div class="success" id="popup_success_note" style="display: none"></div>
<div role="tabpanel">
    <ul class="nav nav-tabs term" role="tablist">
        <li role="presentation" class="active"><a href="#gia" aria-controls="home" role="tab" data-toggle="tab" id="click_note_gia">{{translate('Chính sách về giá')}}</a></li>
        <li role="presentation"><a href="#huyve" aria-controls="profile" role="tab" data-toggle="tab" id="click_chinh_sach_huy">{{translate('Chính sách hủy Tour')}}</a></li>
        <li role="presentation"><a href="#khac" aria-controls="profile" role="tab" data-toggle="tab" id="click_ghi_chu_khac">{{translate('Ghi chú khác')}}</a></li>
    </ul>
    <div class="tab-content my_tab-content">
        <div role="tabpanel" class="tab-pane active" id="gia">  
            <div class="col-md-12 box_1x">
                <textarea class="form-control" rows="10" id="policy_price">{{tour_detail.getPolicyPrice|raw}}</textarea>
            </div>
            <div class="clear"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="huyve">
            <div class="col-md-12 box_1x">
                <textarea class="form-control" rows="10" id="policy_ticket">{{tour_detail.getPolicyTicket|raw}}</textarea>
            </div>
            <div class="clear"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="khac">
            <div class="col-md-12 box_1x">
                <textarea class="form-control" rows="10" id="tour_note">{{tour_detail.getNote|raw}}</textarea>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>      
<div class="col-md-offset-8 col-md-4 box_2x">
    <a class="btn btn_orange" id="update_note" href="#">{{translate('Cập nhật')}}</a>
</div>
