<div class="alert alert-info" role="alert"><p class="luuy">{{translate('Đối với hình thức thanh toán trực tiếp cho người cung cấp dịch vụ, các bên tham gia giao dịch tự chịu trách nhiệm về việc thanh toán và các vấn đề phát sinh trong quá trình diễn ra giao dịch')}}.</p></div>
{% if tour_detail.getPaymentTypeId == '1'%}<p><input type="radio" name="payment" value="3"> {{translate('Thanh toán trả sau với chủ dịch vụ')}}</p>{% endif %}
{% if tour_detail.getPaymentTypeId == '2'%}
	{% if user_sell_info.getBankOwner and user_sell_info.getBankCode and  user_sell_info.getBankName %}
	<p><input type="radio" name="payment" value="5">{{translate('Thanh toán chuyển khoản qua ngân hàng với chủ dịch vụ')}}</p>
	<div class="luuy" id="div_chuyenkhoanchudichvu" style="display: none">
	<h5>{{translate('Bạn có thể chuyển tiền vào tài khoản')}}:</h5>
	<hr/>
	<table width="100%" class="text-center">
		<tr>
			<td><p>{{translate('Số')}} : {{user_sell_info.getBankCode}}</p>
				<p>{{translate('Ngân Hàng')}}: {{ user_sell_info.getBankName}}</p>
				<p>{{translate('Chủ tài khoản')}}: {{user_sell_info.getBankOwner}}</p>
			</td>
		</tr>
	</table>
	<div class="alert alert-warning" role="alert">{{translate('Trong biên lai chuyển tiền ghi rõ')}} <strong>{{translate('mã giao dịch')}}</strong></div>
</div>
	{% endif %}
	{% if user_sell_info.getPaypal%}
		<p><input type="radio" name="payment" value="4">{{translate('Thanh toán trực tuyến với chủ xe qua Paypal')}}</p>
	{% endif %}
{% endif %}
