

.group img{
    -webkit-filter: grayscale(0.5);
    -ms-filter: grayscale(0.5);
    filter: grayscale(0.5);
    -webkit-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
    filter: brightness(0.7);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.group>.des_lay{
    position: relative;
    padding-right: 20px;
}
.group>.des_lay>.description {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    padding: 10px 0;
}
.margin-bt-0{margin-bottom: 0}
.margin-top-0{margin-top: 0 !important}
.group>.des_lay>.description>h3 {
    margin-bottom: 0;
    font-weight: 400;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.group>.des_lay>.description>.member {
    margin-bottom: 0;
}
.group:hover>.des_lay>.description {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
 }
.group>.des_lay>.description>h3 {
    text-shadow: 1px 1px 2px #373737;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.group:hover img{
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-filter: brightness(1);
    -ms-filter: brightness(1);
    filter: brightness(1);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.group_banner{
    -webkit-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
    filter: brightness(0.7);
}
.intro_group{
    position: absolute;
    top: 200px;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #373737;
    text-align: center;
}
@media (max-width: 720px){
    .intro_group{top: 70px;}
    .intro_group h1 {font-size: 18px}
    .intro_group p {font-size: 12px}
    .intro_group .btn_lg{
        height: 34px;
        font-size: 14px;
        line-height: 18px;
        text-transform: none;
    }
}
@media (max-width: 970px){
    .intro_group{top: 70px;}
    .intro_group h1 {font-size: 18px}
    .intro_group p {font-size: 14px}
    .intro_group .btn_lg{
        height: 34px;
        font-size: 14px;
        line-height: 18px;
        text-transform: none;
    }
}
.question_list p{margin-bottom: 3px}
.question_list hr{  margin-bottom: 10px;}
.question_list .title, .top_list .title, .other_question .title{
    padding: 6px 10px;
    background-color: #ff5b2d;
    color: white;
    text-transform: uppercase;
    min-width: 150px;
    float: left;
}
.question{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* border radius */
    background-color: #f2f2f2; /* layer fill content */
    padding: 10px;
    border: 1px solid #DCDCDC;
}
.question .ava_user{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
}
.question_detail .ava_user,  .answered_detail .ava_user{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.question .user_info, .question_detail .user_info,  .answered_detail .user_info{float: left;}
.question .user_info h6, .question_detail .user_info h6,  .answered_detail .user_info h6{margin-bottom:5px; margin-top: -5px;}
.question .like_question, .question_detail .like_question, .answered_detail .like_question{
    border: 1px solid #0288d1;
    padding: 3px 10px;
    border-radius: 3px;
    color: #0288d1;
    font-size: 12px;
}
.question .like_question.active, .question_detail .like_question.active, .answered_detail .like_question.active{
    color: #FFFFFF;
    background-color: #0288d1;
}
.question .like_question span, .question .share_question span,
.question_detail .like_question span, .question_detail .share_question span,
.answered_detail .like_question span, .answered_detail .share_question span{padding: 0 5px}

.question .share_question, .question_detail .share_question{
    border: 1px solid #ff5b2d;
    padding: 3px 10px;
    border-radius: 3px;
    color: #ff5b2d;
    font-size: 12px;
}
.question .answer_question, .question_detail .answer_question, .answered_detail .answer_question{
    border: 1px solid #0288d1;
    padding: 3px 20px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #0288d1;
}
.top_list p, .other_question p{margin-bottom: -3px}
.top_list .top, .other_question .top{
    height: 58px;
    margin-bottom: 10px;
}
.top_list .top .stt{
    width: 50px;
    text-align: center;
    float: left;
}
.top_list .top .ava_user, .other_question .top .ava_user{
    width: 58px;
    text-align: center;
    float: left;
    margin-right: 20px;
}
.top_list .top .user_top{
    padding-top: 4px;
}
.top_list .first{
    background-color: #0288d1;
    color: #FFFFFF;
}
.top_list .second .stt{
    color: #ff5b2d;
}
.answered .title{
    background-color: #0288d1;
    padding: 10px;
    width: 100%;
    float: none;
}
.answered .answered_detail{
    border-bottom: 2px solid #0288d1;
    padding: 15px 0;
}
.other_question {
    margin-top: 50px;
}
.question_modal p{
margin-bottom: 0;
margin-top: 10px;
}
.tag{
  background-color: #E9E9E9;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 15px;
  width: inherit;
    padding-right: 5px;
}
.del-topic{
    background-image: url('img/anh.png');
    background-position: 20px 20px;
    width: 20px;
    height: 20px;
}
.tag_2{
  background-color: #E9E9E9;
  color: #0288d1;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 15px;
  width: inherit;
}
.topic_static{
display: inline-block;
margin-bottom: 10px;
margin-top: 0;
  padding-left: 5px;
}
#answer_show, #answer_1_show, #check-question-show{display:none}
.tt-dropdown-menu{
    text-shadow: none;
}
p{
    overflow-wrap:break-word;
}






