.list-group{
    padding: 5px 25px;
}
.carousel-indicators {
    bottom: 0px;
}
.banner {
    height: 580px;
}
.timkiem {
    position: absolute;
    bottom: 150px;
    background-color: rgba(0,0,0,0.9);
    width: 80%;
    z-index: 1;
    right: 10%;
    color: #fafafa;
    padding: 10px;
}
.form-control_2{
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    color: #6c6c6c;
}
input.diemdi{
    background-image: url("../img/A.png");
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 5px;
}
input.diemden{
    background-image: url("../img/B.png");
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 5px;
}
input.time{
    background-image: url("../img/time.png");
    padding-left: 34px;
    background-repeat: no-repeat;
    background-position: 5px;
}
.timkiem_btn{
    background-color: #0c75b7;
    height: 38px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    border: none;
    width: 100%;
}
.tietkiem {
    background-image: url("../img/loiich.png");
    background-repeat: no-repeat;
    width: 65px;
    height: 80px;
    display: block;
    margin-right: 5px;
    margin-top: 15px;
    background-position: -9px -107px;
    background-position-x: -9px;
    -ms-background-position-x: -9px;
    background-position-y: -107px;
    -ms-background-position-y: -107px;
}
.thanhtoan {
    background-image: url("../img/loiich.png");
    background-repeat: no-repeat;
    width: 65px;
    height: 80px;
    display: block;
    margin-right: 5px;
    margin-top: 15px;
    background-position: -8px -7px;
    background-position-x: -8px;
    -ms-background-position-x: -8px;
    background-position-y: -7px;
    -ms-background-position-y: -7px;
}
.dichvu {
    background-image: url("../img/loiich.png");
    background-repeat: no-repeat;
    width: 65px;
    height: 108px;
    display: block;
    margin-right: 5px;
    margin-top: 15px;
    background-position: -96px -6px;
    background-position-x: -96px;
    -ms-background-position-x: -96px;
    background-position-y: -6px;
    -ms-background-position-y: -6px;
}
.area{
    width: 100%;
}
h3.t1{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ff5b2d;
    font-weight: 300;
}
.vung{background-color: #0288D1}
.vung_1{position: relative;}
.vung_1:hover{
    -webkit-filter: opacity(0.3);
    filter: opaciti(0.3);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.vung .decripton{
    position: absolute;
    top: 46%;
    left: 30%;
    right: 30%;
    text-align: center;
    color: #fff;
}

.vung .description_vung_du_lich{
    text-align: center;color: white;margin-bottom: 5px;margin-top: 5px;
}

.tour{position: relative}
.tour:hover{
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.4); /* outer glow */
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.4); /* outer glow */
    box-shadow: 0 0 5px 0 rgba(0,0,0,.4); /* outer glow */
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.tour_ava{
    position: relative;
}
.tour_name{
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.tour_name .name{
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
}
.tour_name .time{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
    float: left;
}
.tour_name .cho{font-size: 12px; color: #ffffff; font-weight: 300; margin-bottom: 0; float: right}
.tour_user{
    background-color: #ffffff;
    padding: 10px;
}
.user_ava{width: 20%}
.user_ava>img{
    width: 100%;
    border: 2px solid #696969;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.user_name {text-transform: uppercase;}
.user_name p {margin-bottom: 0}
.tour_gia a{
    background-color: #ffffff;
    border: 2px solid #ff5b2d;
    border-radius: 5px;
    padding: 5px 9px;
    color: #ff5b2d;
}
.tour_gia a:hover{
    background-color: #ff5b2d;
    color: #ffffff;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.sale{
    position: absolute;
    top: -4px;
    right: 14px;
    background-image: url("../img/view.png");
    background-position: 0 -31px;
    width: 56px;
    height: 85px;
    font-family: 'Roboto Slab',"Times New Roman", Times, serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.giamgia{
    position: absolute;
    top: 15px;
    right: -8px;
    width: 77px;
}
.gia{
    position: absolute;
    top: 41px;
    left: 20%;
}


.twitter-typeahead{
    display: inherit !important;
}

.typeahead {
    background-color: red;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: black;
}

.tt-dropdown-menu {
    color:black;
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*  -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
         -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
              box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}
.exp_infor_bg {
    background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
}
.exp_infor_user{padding: 10px}
.exp_infor_user p{margin-bottom: 0}
.exp_infor_user h5{margin-top: 0; margin-bottom: 0}
.exp_infor_ava{width: 20%; padding:10px 0 10px 10px; float:left}
.exp_infor_ava .ava{width:100%; border-radius: 50%}
.exp_infor_user .location{
    display: block;
    background-image: url("../img/experience.png");
    width: 15px;
    height: 15px;
    background-position: 0 0;
    -ms-background-position-x: 0;
    background-position-x: 0;
    -ms-background-position-y: 0;
    background-position-y: 0;
    float: left;
}
.statistic {
    background-color: #f2f2f2;
    border-top: 1px solid #e6e6e6;
}
.exp_infor_user .username {
    color: #ff5b2b;
}
.exp_infor_user {
    padding: 10px;
    width: 80%;
    float: left;
    height: 105px;
}
.helpicon {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: #FF5B2D;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    margin-top: 3px;
    border-radius: 50%
}
.tag-like {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 80px;
    height: 80px;
    background-image: url("../img/tag.png");
    background-position: -2px 0px;
}
.tag-free {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 80px;
    height: 80px;
    background-image: url("../img/tag.png");
    background-position: -97px 0;
}
.tag-unique {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 80px;
    height: 80px;
    background-image: url("../img/tag.png");
    background-position: -184px -0px;
}

.experience .content{
    background-color: #0288D1;
    color: #FFFFFF;
    padding: 10px;
}
.experience hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
.experience a{color: #FFFFFF;}
.experience .text-btn{
    padding: 5px 10px;
    padding-right: 0;
    color: #FFFFFF;
    background-color: #ff5b2d;
    border: 1px solid #FFFFFF;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.experience .text-btn .icon-btn{
    padding: 6px 6px;
    color: #ff5b2b;
    background-color: #FFFFFF;
    border: 1px solid #ffffff;
    vertical-align: -1px;
    margin-left: 10px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.experience .text-btn:hover{
    color: #ff5b2d;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.experience .text-btn:hover .icon-btn{
    color: #FFFFFF;
    background-color: #ff5b2b;
    border: 1px solid transparent;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.tag_list p{
    margin-bottom: 3px;
}
.intro_services{
    line-height: 28px;
    font-weight: 300;
}
.phanvung{
    position: absolute;
    top: 5px;
    left: 10px;
    color: #fff;
    padding: 10px 10px 0 10px;
    background-color: rgba(2, 136, 209, 0.7);
    text-transform: uppercase;
    font-weight: bold;
}
.phanvung:hover{
    background-color: rgba(255, 91, 43, 1);
    border-radius: 5px;
}

.white{
    color: white;
}
.white:hover{
    color: white;
}





