<div class="col-md-10 col-sm-10">
    <div class="col-md-12 box_2x">
   <!--      <a class="btn btn-default" data-toggle="collapse" href="#gia" aria-expanded="false" aria-controls="collapseExample">
            {{translate('Tôi muốn bổ sung lựa chọn về giá')}}
        </a> -->
        <a></a>
    </div>
</div>
<div class="col-md-8">
    {{get_partial('creat_trip_step3_other_price_child_price')|raw}}
	{{get_partial('creat_trip_step3_other_price_day_discount')|raw}}
	{{get_partial('creat_trip_step3_other_price_number_discount')|raw}}
</div>
