<div class="modal fade bs-example-modal-lg" id="chonanh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Chọn ảnh lịch trình</h4>
            </div>
            <div class="modal-body">
                <div class="row tab_">
                    <div class="box_1x">
                        <form class="col-md-4">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Tìm kiếm">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </form>
                        <div class="col-md-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="anh_checkbox"> <p><span class="tatca"></span><span class="anh_luachon">Tất cả</span></p>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" class="anh_checkbox"> <p><span class="khachsan"></span><span class="anh_luachon">Khách sạn</span></p>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" class="anh_checkbox"> <p><span class="nhahang"></span><span class="anh_luachon">Nhà hàng</span></p>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" class="anh_checkbox"> <p><span class="diadiem_"></span><span class="anh_luachon">Địa điểm</span></p>
                            </label>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row box_1x">
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                    </div>
                </div>
                <div class="tab_ row box_1x">
                    <div class="col-md-12"><p class="hightlight">Ảnh đã chọn</p></div>
                </div>
                <div class="row box_1x">
                    <div class="col-md-2">
                        <a><span class="add_image"></span> </a>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <div class="padding_top">
                            <select class="form-control">
                                <option>Khách sạn</option>
                                <option>Nhà hàng</option>
                                <option>Địa điểm</option>
                                <option>Hoạt động</option>
                            </select>
                        </div>
                        <div class="padding_top">
                            <input class="form-control">
                        </div>
                        <div class="xoa_po">
                            <a><span class="xoa"></span></a>
                        </div>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                        <div class="xoa_po">
                            <a><span class="xoa"></span></a>
                        </div>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                        <div class="xoa_po">
                            <a><span class="xoa"></span></a>
                        </div>
                    </div>
                    <div class="col-md-2 padding_top anh">
                        <img src="/img/mocchau.jpg" width="100%">
                        <p>Mộc Châu</p>
                        <div class="xoa_po">
                            <a><span class="xoa"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-8 col-md-2"><button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button></div>
                    <div class="col-md-2"><button type="button" class="btn btn_blue">Đăng ảnh</button></div>
                </div>
            </div>
        </div>
    </div>
</div>