<div class="padding_top">
									<div class="col-md-5 col-sm-5 col-xs-12">
										<select class="form-control">
											<option>5%</option>
											<option>10%</option>
											<option>15%</option>
											<option>20%</option>
											<option>25%</option>
											<option>30%</option>
										</select>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<input type="number" class="form-control" name="creat_trip_add_number_discount[number]" name="creat_trip_add_number_discount_number"/>
									</div>
									<div class="col-md-1 col-sm-1 col-xs-1">
										<a class="sub"></a>
									</div>
									<div class="clear"></div>
								</div>