<div class="box_1x">
	<p><input type="checkbox" value="number-discount" id="checkbox_discount_tour_number"> {{translate('Giảm giá theo số lượng')}}</p>
	<div class="row padding_top" id="number-discount">
		<div class="col-md-5 col-sm-5 col-xs-12">
			<p>{{translate('Giảm giá')}}</p>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-7">
			<p>{{translate('Số lượng mua tối thiểu')}}</p>
		</div>
		<div class="padding_top">
			<div class="col-md-5 col-sm-5 col-xs-12">
				<select class="form-control" id="select_discount_tour_number">
					<option value="5">5%</option>
					<option value="10">10%</option>
					<option value="15">15%</option>
					<option value="20">20%</option>
					<option value="25">25%</option>
					<option value="30">30%</option>
				</select>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<input type="number" class="form-control" name="creat_trip_number_discount[number]" id="creat_trip_number_discount_number"/>
			</div>
<!-- 			<div class="col-md-1 col-sm-1 col-xs-1">
				<a class="add"></a>
			</div> -->
			<div class="clear"></div>
		</div>
<!-- 		{% include '_creat_trip_step3_other_price_number_discount_add.html' %} -->
	</div>
</div>