<div class="tab_ row padding_top">
	<div class="col-md-12"><p class="hightlight">Ảnh đã chọn</p></div>
</div>
<div class="row box_1x">
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
		<div class="xoa_po">
			<a><span class="xoa"></span></a>
		</div>
	</div>
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
		<div class="xoa_po">
			<a><span class="xoa"></span></a>
		</div>
	</div>
	<div class="col-md-2 padding_top anh">
		<img src="/img/mocchau.jpg" width="100%">
		<p>Mộc Châu</p>
		<div class="xoa_po">
			<a><span class="xoa"></span></a>
		</div>
	</div>
</div>	