<!-- _trip_set_schedule_sample.html -->
<div class="row">
    <div class="col-md-offset-5 col-md-1 box_1x">
        <a class="btn btn-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
    </div>	
</div>
<div class="alert alert-info sample_schedule" role="alert">
    <div class="row box_1x active">
        <div class="col-md-8">
            <p><strong>Tour 1</strong></p>
            <p><small>3 ngày - 2 đêm</small></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn_orange_outline">Xem trước</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn_blue_outline">Sao chép</a>
        </div>
    </div>
    <div class="row box_1x active">
        <div class="col-md-8">
            <p><strong>Tour 1</strong></p>
            <p><small>3 ngày - 2 đêm</small></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn_orange_outline">Xem trước</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn_blue_outline">Sao chép</a>
        </div>
    </div>
    <div class="row box_1x">
        <div class="col-md-8">
            <p><strong>Tour 1</strong></p>
            <p><small>3 ngày - 2 đêm</small></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn_orange_outline">Xem trước</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn_blue_outline">Sao chép</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-5 col-md-1 box_1x">
        <a class="btn btn-default"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
    </div>	
</div>