@charset "utf-8";
/* CSS Document */
body						{background:url(../images/bg.png) top repeat-x; background-position:0px 162px; font-family:Arial; font-size:12px; color:#0F0F0F; text-align:left; margin:0; padding:0}
ul, li						{list-style:none inside; padding:0; margin:0}
img							{border:none}
a							{text-decoration:none; cursor:pointer}
h1							{color:#1B7EBA; margin:10px 0px; }

#dichung					{width:900px; margin:auto; min-height:330px}
#top							{height:40px; width:100%; float:left; color:#FFF}
#top .userbox				{float:left; margin:10px 0px 0px 0px}
#top .userbox a				{color:#fff}
#top .member				{display:inline-block; padding-right:10px}
#top .member_cash			{color:#FF0; display:inline-block; padding-right:4px;}
#top .loginbox				{float:left; margin:16px 0px 0px 0px}
#top .register				{display:inline-block; background:url(../images/dk.png) top left no-repeat; padding:6px 10px 6px 20px}
#top .login					{display:inline-block; background:url(../images/lg.png) top left no-repeat; padding:6px 10px 6px 20px}
#logo						{margin-top:px}
#menu						{float:right; margin-top:6px}
#menu a						{color:#FFF; padding:10px 10px; display:inline-block; font-weight:bold}
#menu a:hover				{font-weight:bold; background:#90cbed; color:#2e7997; -moz-border-radius:8px 8px 0px 0px; padding:10px; -webkit-border-radius:8px 8px 0px 0px;}
#menu .active				{font-weight:bold; background:#90cbed; color:#2e7997; -moz-border-radius:8px 8px 0px 0px; padding:10px; -webkit-border-radius:8px 8px 0px 0px}
#slide						{}
#search						{float:left; width:100%;margin-top:3px}
#search .text				{font-size:21px; color:#FFF; text-transform:0px 1px 0px #155E7A; width:37%; float:left; line-height:28px}
#search .text span 	{display: inline !important}
#search .boxsearch			{background:url(../images/box_search.png) top left no-repeat; width:554px; height:53px; float:right; font-size:15px; color:#666666}
#search .boxsearch a		{position:relative; top:8px;}
#search .search_btn_		{background:url(../images/bg_button.png) top left repeat-x; height:28px; border:1px solid #336da3; width:56px; color:#FFFFFF; position:relative; top:0px; font-size:12px; font-weight:normal; padding:4px 8px}
#search .search_input_		{height:24px; margin:14px 0px 0px 12px; font-size:13px; color:#666666; border:none; width:193px}
#banner						{width:100%;  position:relative; top:21px; text-align: center; height:201px}
#center						{width:100%; float:left; margin-top:69px; min-height:330px;border:1px solid #dde9ef;-moz-box-shadow: 0 0 8px #999;-webkit-box-shadow: 0 0 8px #999;background: #fff;box-shadow: 0px 0px 8px #999;}
#center .map				{width:500px; height:343px; background:url(../images/bg_map.png) bottom center no-repeat; text-align:center; float:left}
#center .boxright			{width:344px; float: right;}
#center .col					{width:156px; float:left; margin-right:10px}
#center .col li				{list-style: none inside; margin:10px 0px; font-size:12px}
#center .col a				{color:#0F0F0F}
#center h1					{color:#;font-size: 19px;color: #29598E;}
#center .raquo				{color:#1B7EBA}
#center .group				{border-top:1px dashed #A2A2A2; margin:10px 0px 0px 0px; padding:6px 0px 0px 0px; text-align:center; float:left}
#center .group h2			{text-align:left; color:#1B7EBA; font-size:16px; font-weight:bold;}
#center .group_item			{text-align:center; line-height:px; margin:0px; color:#0F0F0F; float:left; width:66px}
#center .border				{border:1px solid #333333;}
#center .step					{float:right; width:504px; margin:0px 14px 10px 0px; text-align:left}
#center .step h3				{font-size:20px; margin-bottom:15px; font-weight:normal}
#center .step p				{text-align:justify; padding:4px 0px; margin:0; line-height:17px; font-size:12px}
#center .step_item			{display:inline-block; width:153px; text-align:justify; vertical-align: top; margin:0px 6px}
#center .step_img			{/*background:url(../images/bg_step.png) bottom center no-repeat; */border:1px solid #ccc; padding:1px; background:#fff}

#center .step_title			{color:#1B7EBA; /*border-bottom:1px dotted #A2A2A2; */ padding:6px 0px; font-size:16px; font-weight:bold}
#center .border_			{padding:8px 8px 8px 8px; width:883px; float:left; boder-top:none}
#box_						{text-align:center; display:block; color:#115679; font-size:12px; line-height:28px; background:url(../images/bg_box.png) bottom center no-repeat; width:874px; padding-bottom:12px; margin:auto; margin-top:20px}
#box_ .border				{border:1px solid #cccccc; padding:20px 0px}
#support_					{text-align:left; display:block; color:#115679; font-size:12px; line-height:28px; background:url(../images/bg_box.png) bottom center no-repeat; width:854px; padding-bottom:12px; margin:auto; margin-top:20px}
#support_ .border			{border:1px solid #cccccc; padding:20px 10px}	
#support_ a					{font-weight:bold; color:#333; padding-right:10px}
#support_ .sup_active		{color:#1B7EBA}			
#login						{text-align:left;display:block; color:#115679; font-size:12px; line-height:28px;background:url(../images/bg_box.png) bottom center no-repeat; padding-bottom:12px; width:872px; margin:auto; margin-top:20px}
#login .loginbox			{background:url(../images/bg_login.jpg) center no-repeat; border:1px solid #ccc; padding:1px; height:273px; width:870px}
#login .table				{width:500px; border-collapse:collapse; margin:20px 0px 0px 20px}
#login .table td			{padding:1px; color:#0f0f0f}
#login .table .input		{border:1px solid #c7c7c7; padding:3px; width:160px}
#login .yahoo				{background:url(../images/login_acc.png) top left no-repeat; height:34px; width:106px; background-position:0px 0px; display:inline-block}
#login .facebook			{background:url(../images/login_acc.png) top left no-repeat; height:34px; width:106px; background-position:-108px 0px; display:inline-block}
#login .google				{background:url(../images/login_acc.png) top left no-repeat; height:34px; width:106px; background-position:-216px 0px; display:inline-block}
#post						{margin-top:20px}
#post .postlt				{float:left; width:244px; text-align:left;border-right:1px solid #dde9ef}
#post img					{margin-left:10px}
#post .postlt table			{width:100%; border-collapse:collapse; border:none;}
#post .postlt table td		{border-bottom:1px solid #dde9ef; padding:6px 10px; line-height:17px}
#post .postlt table td a	{color:#0099CC}
#post .postrt				{float:left; width:612px; padding-left:30px}
#post .posttable			{width:100%; border-collapse:collapse; border:none; margin-bottom:10px}
#post .posttable td			{padding:4px 0px; text-align:left}
#post .posttable td	 a		{color:#1B7EBA}
#post .post_input			{border:1px solid #c7c7c7; padding:3px; }
#post textarea				{width:320px; height:100px}
#comment					{background:#FFFFFF; margin:0px; padding:0px; display: inline-block;-moz-box-shadow:0px 1px 0px #D8D8D8; width:100%}
#comment .cmentbox			{background:#f3f3f3; border:1px solid #cbcbcb; -moz-border-radius:6px; -webkit-border-radius:6px; padding:10px}
#comment textarea			{background:#f3f3f3; border:none; width:100%; height:20px; min-height:40px;}
#comment .cmentcor			{margin-bottom:10px}
#comment .userimg			{border:1px solid #cbcbcb; padding:4px; width:32px; margin:0px 10px 10px 0px; display:inline-block}
#comment .userimg img		{margin:0}
#comment .usercom			{display:inline-block; width:500px; color:#333333}
#comment .usertime			{font-size:11px; color:#999999; display:inline-block}
#comment .username			{color:#0072BC; display:block; font-size:14px}
#comment .cmentrow			{border-bottom:1px solid #dcdcdc; padding:14px 0px 0px 0px}
#comment .combtn			{background:url(../images/bg_button.png) top left repeat-x; padding:8px 10px; text-align:center; color:#FFFFFF; font-weight:bold; border:1px solid #336da3; -moz-border-radius:5px; -webkit-border-radius:5px; text-shadow:0px 1px 0px #2b669d; font-size:13px; margin:6px 0px}
#comment .compage			{padding:6px 0px; display:block; text-align:center; margin-top:14px}
#comment .compage_			{background:url(../images/bg_button.png) top left repeat-x; padding:5px 10px; text-align:center; color:#FFFFFF; border:1px solid #336da3; -moz-border-radius:3px; -webkit-border-radius:3px; text-shadow:0px 1px 0px #2b669d; font-size:12px}
#comment .compage_nx		{background:url(../images/bg_button.png) top left repeat-x; padding:5px 10px; text-align:center; color:#FFFFFF; border:1px solid #336da3; -moz-border-radius:3px; -webkit-border-radius:3px; text-shadow:0px 1px 0px #2b669d; font-size:12px}
#comment .compage_pr		{background:url(../images/bg_button.png) top left repeat-x; padding:5px 10px; text-align:center; color:#FFFFFF; border:1px solid #336da3; -moz-border-radius:3px; -webkit-border-radius:3px; text-shadow:0px 1px 0px #2b669d; font-size:12px}
#comment .comactive		{color:#000; text-shadow:0px 1px 1px #fff}
#post .post_tit				{font-size:14px; color:#1B7EBA; font-weight:bold}
#footer								{margin: 7px 0 0 0; width: 100%;background: linear-gradient(#3D8DBC,#1B7EBA);
z-index: 0;
position: relative;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3D8DBC), color-stop(100%, #1B7EBA));
background: -webkit-linear-gradient(#3D8DBC,#1B7EBA);
background: -moz-linear-gradient(#3D8DBC,#1B7EBA);
background: -o-linear-gradient(#3D8DBC,#1B7EBA);
background: -ms-linear-gradient(#3D8DBC,#1B7EBA);
background: linear-gradient(#3D8DBC,#1B7EBA);
float:left;}
#footer .content			{width:900px; margin:20px auto;color:#FFF; text-align:center}
#footer a						{color:#fff; padding:0px 4px}
#footer .item_b			{float:left; width:20%; text-align:left !important; display:inline-block }
#footer .item_title	{color:#fff; text-transform:uppercase; font-weight:bold; margin-bottom:8px; text-indent:3px}
#footer .item_b ul, li	{display:block;  list-style:none inside; margin:0 }
#footer .item_b a		{color:#9CF !important}
#footer .item_b a:hover	{text-decoration:underline}
#content					{padding:10px; text-align:left;}
#content table				{border:none; margin:5px 0px}
#content .result			{border-collapse:collapse; width:100%; border:none}
#content .result td			{padding:8px 4px; border:1px solid #E1E1E1}
#content .result a			{color:#1B7EBA}						
#content .result th			{font-weight:bold; background:url(../images/bg_button.png) top left repeat-x; height:35px; color:#fff; border:1px solid #E1E1E1; padding:0px 4px}
#content table .tr			{background:#EFEFEF}
#content .filter			{margin:0px 0px 10px 0px; width:100%; border-bottom:1px solid #CCCCCC; padding-bottom:10px}
#content .filter label		{display:inline-block; margin:6px 0px}
#content .filter label span	{width:120px; padding-right:8px; text-align:right}
.input_field				{border:1px solid #c7c7c7; padding:4px;}
.input_field:focus			{border:1px solid #336da3}
.left_						{text-align:left}
.right_						{text-align:right}
.center_					{text-align:center}
.title_						{font-size:14px; color:#1B7EBA; font-weight:bold}
.page						{display:block; padding:8px 0px; text-align:center; margin:10px 0px}
.page a						{margin:0px 2px;background:url(../images/bg_page.png) top left repeat-x; text-align:center; border:1px solid #D9D9D9; color:#1B7EBA; padding: 6px 10px; -mozz-border-radius:4px; -webkit-border-radius:4px}
.page a:hover				{color:#000000}	
.confirm_					{background:#fcfcfc; border:1px solid #c7c7c7; width:140px; padding:6px; color:#333333; font-size:15px;}
.button_					{background:url(../images/bg_button.png) top left repeat-x; padding:5px 10px; text-align:center; color:#FFFFFF; font-weight:bold; border:1px solid #336da3; -moz-border-radius:3px; -webkit-border-radius:3px; text-shadow:0px 1px 0px #2b669d; font-size:11px}
.orange						{color:#FCFF00}
.red						{color:red}
.gray						{color:#979797}
.user_avatar				{border:1px solid #ccc; padding:1px;background:#fff}
.bold						{font-weight:bold}
.direc						{background:url(../images/direc.png) top left no-repeat; width:24px; height:31px}
.direc:hover				{background:url(../images/direc.png) top left no-repeat; width:24px; height:31px; background-position:-10px 0px}
#col-left 					{width: 245px;float: left;margin: 0px 3px;}
#col-right 					{width: 245px;float: right;margin: 0px 20px;}
#mainleft 					{width: 245px;border: 1px solid #E6E6E6;background: #FAFAFA;color: #666;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;padding: 14px 8px !important;}
.heading-bar 				{font-family: tahoma;font-size: 12px;color: #FFFFFF;padding: 8px 0 0 10px;}
#heading-bar 				{position: relative;height: 34px;background: #1B7EBA;box-shadow: 0 2px 0 #3C68B4;-moz-box-shadow: 0 2px 0 #3C68B4;-webkit-box-shadow: 0 2px 0 rgb(28, 105, 150);}
#heading-bar-gray			{background: #eee;color: #666;font-size: 17px;height: 32px;letter-spacing: -1px;line-height: 2em;padding: 0 10px;box-shadow: 0px 2px 0px #ddd;text-shadow: 0px 1px 0px #fcfcfc;}
.heading_bar_tab {
position: relative;
height: 34px;
background: #1B7EBA;
width: 120px;
float: left;
box-shadow: 0 2px 0 #3C68B4;
-moz-box-shadow: 0 2px 0 #3C68B4;
-webkit-box-shadow: 0 2px 0 rgb(28, 105, 150);
}
.active_tab {
position: relative;
height: 34px;
background: rgb(28, 105, 150);
width: 120px;
float: left;
box-shadow: 0 2px 0 #3C68B4;
-moz-box-shadow: 0 2px 0 #3C68B4;
-webkit-box-shadow: 0 2px 0 rgb(28, 105, 150);
}

.heading-bar-gray			{font-family: tahoma;font-size: 12px;color:#666;;padding: 8px 0 0 10px;}
#in_mainleft 				{position: relative;font-family: Arial;font-size: 12px;margin: 3px 0 0;position: relative;background: #fff; padding-top: 6px;}
.radius 					{-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;}
.input-chon					{float: left;width: 225px;border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;border-style: solid;border-width: 1px;}
.chontuyen 					{padding: 2px 0 2px 8px;line-height: 25px;display: inline-block;position: relative;}
.no-border 					{border: none;width: 180px;height: 26px;padding-left: 3px;background: url(../images/icon-Daybox_bg.jpg) repeat-x;margin: 0;font-weight: bold;padding-left: 5px;}
.text-search 				{font-family: Arial;font-size: 11px;color: #394a71;}
.input-chon img	 			{float: right;padding: 0px;width: 16px;height: 16px;cursor: pointer;position: relative;margin: 0;right: 5px;top: 5px;}
#in_mainleft_select_one 	{position: relative;left: 10px;width: 235px;padding:0px; line-height:35px;font-size: 11px;text-transform: uppercase;font-weight: bold;}
#info 						{ width:615px; float:right; margin-right:3px}
#info .grid_4 				{width: 192px; float:left; margin-left:13px;}
#info .grid_4 p				{ height: 22px;/*margin: 2px ;text-align: justify;*/}
#info .grid_4 img			{ margin-top:10px; width:168px; height: 100px;}
.small_box 					{border: 1px solid #E6E6E6;background: #FAFAFA;color: #666;}
.padded 					{height: 317px;
padding: 8px !important;}
h2.gray	 					{background: #eee;color: #666;font-size: 17px;height: 30px;letter-spacing: -1px;line-height: 2em;padding: 0 10px;box-shadow: 0px 2px 0px #ddd;text-shadow: 0px 1px 0px #fcfcfc; text-align:center}
h2.blue						{position: relative;height: 30px;background: #1B7EBA;box-shadow: 0 2px 0 #3C68B4;-moz-box-shadow: 0 2px 0 #3C68B4; color:#fff; font-size:16px; etter-spacing: -1px;line-height: 2em;padding: 0 10px; text-align:center;
-webkit-box-shadow: 0 2px 0 rgb(28, 105, 150);}
#bangtuyen 					{font-family: Arial;font-size: 12px;color: #FFFFFF;font-weight: bold;margin-top: 10px;width: 100%;height: 46px;}
#tuyenxe 					{width: 100%;position: relative;}
.ngay 						{font-family: Arial;font-size: 12px;color: #FFFFFF;background: url(../images/bg-topday.JPG) no-repeat top center;height: 46px;padding-top: 15px;width: 576px;}
ul.ngay li 					{display: inline;float: left;width: 190px;cursor: pointer;}
ul.ngay li.space 			{width: 3px;}
ul.ngay li:hover, ul.ngay li.active, ul.ngay li.current {background: url(../images/bg-chuyen-on.GIF) no-repeat top center;line-height: 46px;margin-top: -15px;}
ul.ngay li.last 			{padding-right: 0px;}
.line 						{height:1px;background-color: #394a71;border-style: none;}
.Tcol						{float: left;font-size: 11px;font-weight: normal;border-left: 1px solid #394a71;border-top: 1px solid #394a71;background: #FFFFFF;height: 34px;text-align: center;line-height: 34px;position: relative;}
.Tcol1 						{width: 200px;}
.Tcol2 						{width: 90px;}
.Tcol3 						{width: 76px;}
.Tcol4 						{width: 100px;}
.Tcol5 						{width: 75px;vertical-align: middle;display: table-cell;}
.Tcol6 						{width: 125px;}
.Tcol7 						{width: 140px;}
.Tcol8 						{width: 68px;border-right: 1px solid #394a71;}
.clear 						{clear: both;}
.Tcol h3 					{color: #FFFF00;background: #637aae;font-size: 12px;font-weight: bold;}
.Tcol h3 a					{color: #FFFF00;background: #637aae;font-size: 12px;font-weight: bold;}
#sodo						{ width:600px; height:auto; float:left}
.col2R_show 				{ width:227px;}
.col2R_show li h2			{font-weight: normal;width: 75px;float: left;}
.col2R_show li h5			{display: inline;font-weight: bold;clear: both;}
#Popdatcho 					{position: relative; padding: 0px 10px 0px 20px;}
.col1 						{width: 8%;float: left; margin-top: 40px;}
.col1 ul 					{padding: 10px 3px;}
.col1 li 					{display: inherit;font-size: 11px;color: #3b4c73;font-weight: bold;padding-bottom: 10px;}
.col2 						{width: 54.5%;float: left !important;margin: 10px 5px;margin-top: 10px;/*border: 1px solid #E6E6E6;*/background: #FAFAFA;color: #666;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;padding: 20px 8px 8px 8px  !important; position:relative}
.col2Lfix		 			{width: 236px;padding: 10px 2px;float: left;}
.col2Ltoptext 				{width: 100%;font-size: 12px;color: #FF6600;text-transform: uppercase;font-weight: bold;text-align: center;}
.col2diagram 				{width: 100%;text-align: center;padding-top: 10px;}
.col2C_show 				{border-right: 1px solid #4F679B;border-left: 1px solid #4F679B;background: #fff;padding-top: 8px;width: 178px;margin: -4px auto !important;}
.col2C_show ul 				{width: auto;padding: 4px 0px 0 3px;}
.col2C_show li.chotrong 	{background-position: 0 0;cursor: pointer;}
.col2C_show li 				{width: 28px;height: 33px;display: inline-block;margin-right: 6px;}
.ico 						{background-image: url("../images/icon-seat.png");}
.text-search 				{font-family: Arial;font-size: 11px;color: #394a71;}
.col2R 						{width: 312px;margin: 10px 0px;float: right;}
.col2R_top 					{background: url(../images/bor_tt_R.jpg) no-repeat top;width: 320px;height: 34px;}
.col2R_show 				{border-right: 1px solid #4F679B;border-left: 1px solid #4F679B;border-bottom: 1px solid #4F679B;background: #fff;width: 300px;font-size: 11px;color: #3b4c73;padding: 5px;float:right;}
.col2R_show ul 				{padding: 0px 3px;position: relative;}
.col2R_show li 				{display: inherit;font-weight: normal;width: 100%;}
.col2R_show li h4 			{font-size: 12px;font-weight: bold;padding-bottom: 1px;}
.pu_cont {background: #F5F5F5;padding: 12px 12px 12px 6px;overflow: hidden;position: relative;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.pu_cont ul {width: 150px;float: left;list-style: none;margin-top: 15px;left: 5px;}
.pu_cont .right 			{width: 680px;float: left;border: 1px solid #CACACA;background: #fff;padding: 15px;min-height: 340px;font-size: 12px;}
.pu_cont ul li.actv 		{position: relative;width: 140px;z-index: 2;color: #FE7A00;background: #fff;cursor: auto;}
.pu_cont ul li 				{padding: 16px 0 16px 11px;background: #FAFAFA;border-width: 1px 0 1px 1px;border-style: solid;border-color: #DFDFDF;margin-bottom: 7px;color: #0D5AA2;font-weight: bold;cursor: pointer;}
.confee 					{background: #E2EAF8;padding: 5px 10px;margin: 10px 0px;display: none;}
.pu_cardImg		 			{display: block;margin-top: 4px;}
.pu_netdebit 				{padding: 15px 0px 0px 0px;}
.pu_cont .right select 		{padding: 6px 4px;border: 1px solid #7E9DB9;}
.pu_textBig 				{width: 202px;}
.review 					{padding: 3px 5px;clear: both;font-size: 18px;color: #000;overflow: hidden;border: 1px solid #ccc;cursor: pointer;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 1px 1px 1px #ddd;box-shadow: 1px 1px 1px #ddd;margin: 10px 0;}
.gi_body 					{padding-left: 40px; display: block;}
.bkrow 						{overflow: hidden;clear: both;}
.step_cont 					{overflow: hidden;width: 100%;}
.review span 				{float: left;}
.net_banks 					{background-image: url(../images/net_banks.gif);background-color: transparent;background-repeat: no-repeat;}
.first_step 				{float: left;font-size: 18px;padding: 1px 7px;margin-right: 10px;background-position: -171px -92px;color: #fff;}
.review span 				{float: left;}
.review a 					{display: none;}
.flightDetailWrap 			{float: left;width: 885px;}
table.transaction{width: 882px;}
table.transaction tr th 				{ padding: 5px; margin: 5px; font-size: 12px;font-weight: bold;background-color: #f2f2f2;border-bottom: 1px solid #e4e4e4;color: #6c6c6c; }
table.transaction tr td{ padding: 5px; margin: 5px;}
.loaixeH				 	{float: left;width: 70px;}
.hinhthucH					{float: left;width: 100px;}
.thoigianH					{float: left;width: 80px;}
.sogheH						{float: left;width: 80px;}
.soxeH						{float: left;width: 80px;}
.quanH						{float: left;width: 100px;}
.phuongH					{float: left;width: 110px;}
.kmH						{float: left;width: 80px;}
.giaH						{float: left;width: 90px;}
.tongH    					{float: left;width: 80px;} 

.WrapC 						{background-color: #fff;float: left;font-size: 12px; padding:4px 0px 15px 12px; width:870px; line-height:30px;}
.loaixeC 					{float: left;width: 70px;}
.hinhthucC					{float: left;width: 100px;}	
.thoigianC					{float: left;width: 80px;}
.sogheC						{float: left;width: 80px;}
.soxeC						{float: left;width: 80px;}
.quanC						{float: left;width: 100px;}
.phuongC					{float: left;width: 110px;}
.kmC						{float: left;width: 80px;}
.giaC						{float: left;width: 90px;}
.tongC						{float: left;width: 80px;}

.roundtrip1 				{padding: 5px 0 10px 0;}
.chitietdatcho				{ margin-top:10px; width:270px; float:right;border: 1px solid #E6E6E6;background: #FAFAFA;color: #666;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;padding: 8px !important;margin-bottom: 10px;}
.chitietdatcho li			{ line-height:18px;}
.chitietdatcho li h4 		{font-size: 13px;font-weight: bold;padding-bottom: 1px;}
.chitietdatcho li h2 		{ width:80px; float:left; font-size:12px;}
.chitietdatcho li h5 		{display: inline;font-size: 11px;font-weight: bold;clear: both;}
.mk_pymt 					{background-color: #2bac36;overflow: visible;color: #fff;font-weight: bold;padding: 4px 10px;font-size: 11px;}
.curved_but 				{border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border: 0;cursor: pointer;}
.tongtien					{font-size: 12px;font-weight: bold;color:#090; padding: 2px 0; background:#E4EBF1; text-transform: uppercase; margin:10px 0px; }
.tongtien h3				{ padding:5px 5px; text-transform: uppercase; }	
	
.ghi_chu					{background: url("../images/info.png") no-repeat scroll 8px 5px #E4EBF1;border-bottom: 1px solid #D4D9DE;border-top: 1px solid #D4D9DE; margin: 10px 0;padding: 8px 10px 8px 40px; color:#666; line-height:20px}
.alert_box					{background: url("../images/alert.png") no-repeat scroll 8px 5px #ffe6df;border-bottom: 1px solid #ffd9cf;border-top: 1px solid #ffd9cf; margin: 10px 0;padding: 8px 10px 8px 40px; color:#666; line-height:20px}
.success_box				{background: url("../images/success.png") no-repeat scroll 8px 5px #eaf7d9;border-bottom: 1px solid #bbdf8d;border-top: 1px solid #bbdf8d; margin: 10px 0;padding: 8px 10px 8px 40px; color:#666; line-height:20px}
.tip_box					{background: url("../images/tip.png") no-repeat scroll 8px 5px #fdf9e3;border-bottom: 1px solid #fae7be;border-top: 1px solid #fae7be; margin: 10px 0;padding: 8px 10px 8px 40px; color:#666; line-height:20px}

label 						{font-size: 11px;text-transform: uppercase;font-weight: bold;}
.small_box p 				{padding: 3px 0px;text-align: justify;}
input[type="text"], input[type="password"], input[type="select"], input[type="search"], input[type="file"], textarea, select {
border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
border-style: solid;
border-width: 1px;
padding: 5px;
color: rgb(95, 95, 95);
margin: 0px;
font-size: 12px;
font-weight: bold;}
input.half, select.half, textarea.half {width: 45%; float:left}
input.full, select.full, textarea.full {width: 95%;}
.btn-blue2 {display: inline-block;padding: 6px 10px;color: #fff !important;text-decoration: none;font-weight: bold;font-size: 12px;font-family: Tahoma, Arial, sans-serif;position: relative;cursor: pointer;border: none;background: #3C68B4;}
.btn-blue-custom2 {background-color:#3C68B4 !important;}
.btn-blue-custom {background-color:rgb(12, 135, 209) !important;}
.btn-blue {display: inline-block;padding: 6px 10px;color: #fff !important;text-decoration: none;font-weight: bold;font-size: 12px;font-family: Tahoma, Arial, sans-serif;position: relative;cursor: pointer;border: none;background: #666;}
.lien-he-khach-hang			{ width:450px; float:left; margin-top:10px;padding: 10px;}
.slide_banner .scroll {position: relative;width: 9000px;}
.slide_banner img 	{
float: left;
}
.minibus				{width: 330px;height: 147px;position: relative;-moz-border-radius: 6px;
border: 1px solid #B8B8B8; margin: 0px 30px 10px 5px;
float: left;
border-bottom-left-radius: 15px 15px;
border-bottom-right-radius: 15px 15px;
border-top-left-radius: 15px 15px;
border-top-right-radius: 15px 15px;}
#laixe{ background-image:url(../images/seats.png) ; background-repeat:no-repeat; position:absolute; background-position:-0px -237px; height:35px; width:40px;top: 90px;left: 23px;}
#ghengoi	{background-image:url(../images/seats.png) ; background-repeat:no-repeat; position:absolute; height: 33px;width: 38px;}
.minibus .available_seat{background-position: -1px -37px;}
.minibus .available_seat:hover{background-position: -1px -76px;}
.minibus .selected_seat {background-position: -1px -116px;}
.minibus .booked_seat {background-position: -1px -157px;}
.col1 ul li.available_seat{background-image:url(../images/seats.png) ; background-repeat:no-repeat; height: 28px;width: 38px; background-position: -1px -37px;}
.col1 ul li.selected_seat{background-image:url(../images/seats.png) ; background-repeat:no-repeat;height: 30px;width: 38px;background-position: -1px -114px; }
.col1 ul li.booked_seat{background-image:url(../images/seats.png) ; background-repeat:no-repeat;height: 30px;width: 38px;background-position: -1px -157px; }

/* ===Thanh Toán ===*/
#tabs {overflow: hidden; width: 100%;margin: 0; padding: 0;list-style: none;}
#tabs li {float: left;margin: 0 -15px 0 0; }
#tabs a { float: left; position: relative; padding: 0 40px; height: 0;  line-height: 30px; text-transform: uppercase;text-decoration: none; color: #fff;	  border-right: 30px solid transparent;border-bottom: 30px solid #3D3D3D;border-bottom-color: #777\9;opacity: .8;filter: alpha(opacity=30);font-weight: bold;}
#tabs a:hover, #tabs a:focus { border-bottom-color: #3d3d3d; opacity: 1;filter: alpha(opacity=100);}
#tabs a:focus {outline: 0;}
#tabs #current {z-index: 3;border-bottom-color: rgb(72, 146, 189); opacity: 1;filter: alpha(opacity=100);	  }
#cachthanhtoan { background: #fff;border-top: 2px solid #3d3d3d;padding: 2em;/*height: 220px;*/}
#cachthanhtoan h2,#cachthanhtoan h3,#cachthanhtoan p { margin: 0 0 15px 0;}  
#about {color: #999;text-align: center;font: 0.9em Arial, Helvetica;}
#about a {color: #777;} 
ul.paylist li {
width: 125px;
float: left;
line-height: 40px;
clear: none;
}
.paymain li {
display: inherit;
clear: both;
}
#bank_item_show li, #bank_km_item_show li, #vidientu_item_show li, #atm_item_show li, #vnd_item_show li {
line-height: 20px;
}
ul.paylist li input {
float: left;
margin-top: 10px;
}
ul.paylist li img {
padding: 0 3px 15px 3px;
width: 100px;
}
.clear { clear:both}
#bank_item_show li img, #bank_km_item_show li img, #vidientu_item_show li img, #atm_item_show li img, #vnd_item_show li img {
padding: 2px 5px;
}
ul.banks_list li img {
padding: 0 3px 15px 3px; cursor: pointer;}
ul.banks_list li {
float: left;
line-height: 45px;
clear: none;
}
/*----------====8/4/2013======-----------*/
.diary_head { height:30px; line-height:30px; font-size:13px; padding:0px 10px;
background-color: #0d75b8;
z-index: 100;
position: relative;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d8dbc), color-stop(100%, #1b7eba));
background: -webkit-linear-gradient(#3d8dbc,#1b7eba);
background: -moz-linear-gradient(#3d8dbc,#1b7eba);
background: -o-linear-gradient(#3d8dbc,#1b7eba);
background: -ms-linear-gradient(#3d8dbc,#1b7eba);
background: linear-gradient(#3d8dbc,#1b7eba);
}
.blog_ .diaryposts .posts_lists:hover	{background-color: #e9f2f7; cursor: pointer; height: 45px;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f6fa), color-stop(100%, #e2eef4));
background-image: -webkit-linear-gradient(#f0f6fa,#e2eef4);
background-image: -moz-linear-gradient(#f0f6fa,#e2eef4);
background-image: -o-linear-gradient(#f0f6fa,#e2eef4);
background-image: -ms-linear-gradient(#f0f6fa,#e2eef4);
background-image: linear-gradient(#f0f6fa,#e2eef4);}
.diaryposts .posts_lists { height: 45px; padding:10px 0px; border-bottom:#ccc 1px dotted}
.diaryposts .posts_lists img { float:left;width:60px; height:45px; margin-left:5px; border:#3CF 1px solid;}
.diaryposts .posts_lists .content_post { width:180px; color:#1e8cbe; margin-left:75px; top:-10px; height:28px}
.input-chon-haft {
float: left;
width: 110px;
border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
border-style: solid;
border-width: 1px;
margin-right:5px;
}
.no-border-small {
border: none;
width: 83px;
height: 26px;
padding-left: 3px;
background: url(../images/icon-Daybox_bg.jpg) repeat-x;
margin: 0;
font-weight: bold;
padding-left: 5px;
}
#inputs input {
background: url(../images/login-sprite.png) no-repeat;
margin: 0 0 7px 0;
padding-left:25px;
width: 190px;
border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
border-style: solid;
border-width: 1px;
font-weight: normal;
}
#username {
background-position: 5px -9px !important;
}
#password {
background-position: 5px -54px !important;
}
.ui-btn-up-b {
border: 1px solid #044062;
background: #396b9e;
font-weight: 700;
color: #fff;
text-shadow: 0 1px 0 #194b7e;
background-image: -webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
background-image: -webkit-linear-gradient(#5f9cc5,#396b9e);
background-image: -moz-linear-gradient(#5f9cc5,#396b9e);
background-image: -ms-linear-gradient(#5f9cc5,#396b9e);
background-image: -o-linear-gradient(#5f9cc5,#396b9e);
background-image: linear-gradient(#5f9cc5,#396b9e);
text-decoration: none;
-webkit-border-radius: 1em;
border-radius: 1em;
padding: .6em 20px;
}
.info_ve{
margin:auto;
width: 750px;
border: 1px solid #E6E6E6;
background: #FAFAFA;
color: #666;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
padding: 8px !important;}

.info_ve li h2 {
width: 93px;
float: left;
font-size: 12px;
}
.info_ve li h5 {
display: inline;
font-size: 11px;
font-weight: bold;
clear: both;
line-height: 16px;
}
.text_page {
	padding:20px;
	color:#666;
	font-size: 13px;
line-height: 17px;
}
.text_page p{
	margin:10px; text-align: justify;
}

blockquote, q {
	display:block;
	font-style:normal;
	quotes:"" "";
	background:url("../images/quote.png") no-repeat scroll 0 4px transparent;
	display:block;
	font-size:12px;
	min-height:42px;
	line-height:18px;
	padding:0 0 0 20px;
	color:#666;
	margin:1em 10px;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	/*content: none;*/
}
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.thin {
	padding: 12px 0 10px 10px;
	border-bottom:#eee 1px solid;
	border-top:#eee 1px solid;;
    text-decoration:none;
	color:#666;
	text-align: justify;
}
.color-green {
	color: #3FBD65;
}
.color-red {
	color: #DC2521;
}
.dropcap {
display: block;
float: left;
margin: 0 8px 0 0;
font-size: 50px;
line-height: 42px;
}
.checklist li {
background-image: url(../images/bullet_check.png);
}
.starlist li, .checklist li {
background-position: left top;
background-repeat: no-repeat;
padding-left: 25px;
list-style: none !important;
margin:5px 10px;
}
#end_frame{display: none;}
.error_border{border: solid 1px red;}
#home_ticket_form  #depart_city, #home_ticket_form  #end_city{width: 227px}
#home_ticket_form #chunk, #home_ticket_form #vehicle {width: 228px;} 
#home_ticket_form  #depart_district, #home_ticket_form #depart_village, #home_ticket_form #end_district, #home_ticket_form #end_village{width: 112px; padding-left: 1px;}
#home_ticket_form .day{width: 112px; padding-left: 1px;}
#home_ticket_form .month{width: 112px; padding-left: 1px;}
.transaction th.count {width: 77px;}
.lienhe {
padding-left: 40px;
float: left;
display: block; 
line-height: 35px;
}

.lienhe.phone {
background: transparent url(/images/tel32x32.png) no-repeat -0px center;
color: #93154a;
font-size: 17px;
}
.lienhe.hot {
background: transparent url(http://icons.iconarchive.com/icons/wwalczyszyn/android-style-honeycomb/32/Phone-icon.png) no-repeat -0px center;
color: #93154a;
font-size: 17px;
}
.lienhe.facebook {
background: transparent url(http://icons.iconarchive.com/icons/yootheme/social-bookmark/32/social-facebook-box-blue-icon.png) no-repeat -0px center;

font-size: 15px;
}

.lienhe.youtube {
background: transparent url(http://icons.iconarchive.com/icons/graphics-vibe/classic-3d-social/32/youtube-icon.png) no-repeat -0px center;

font-size: 15px;
}


.lienhe.email {
background: transparent url(/images/gmail32x32.png) no-repeat -0px center;
}

 
.lienhe.skype {
background: transparent url(/images/skype32x32.png) no-repeat -0px center;
}
.lienhe.yahoo {
background: transparent url(/images/yahoo32x32.png) no-repeat -0px center;
} 
.lienhe.diachi {
background: transparent url(/images/map32x32.png) no-repeat -0px center;
}

.photo img {
width: 230px;
height: 150px;
margin: 10px 0px;
border: 3px solid rgb(184, 217, 245);
}
.photo {
color: #666;
font-size: 13px;
line-height: 17px;
width: 240px;
float: left;
margin-top: 52px;
}
.text_page {
padding: 20px;
color: #666;
font-size: 13px;
line-height: 17px;
width: 600px;
float: left;
}

.bulletlist li {
background-position: left top;
background-repeat: no-repeat;
padding-left: 20px;
list-style: none !important;
margin: 5px 0px;
}
.bulletlist li {
background-image: url(/images/bullet_blue.png);
}

.hotline {
clear: both;
padding: 9px 10px;
height: 122px;
width: 237px;
}

#register_form{display: none} 

.register_frame img{cursor: pointer;}
.register_frame .google_icon{padding: 0 50px; }

#in_mainleft li{line-height: 20px; clear: both;}

.right{float: right;}

form.standard h2 {
font-size: 16px;
color: #29598E;
font-weight: bold;
}

#content_container {
padding: 15px 15px 10px 15px !important;
border: none;
border-top: 0px;
min-height: 450px;
margin: 0 auto;
}

.nice_table a:link {
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}
.nice_table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.nice_table a:active,
.nice_table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.nice_table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	width: 100%;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.nice_table th {
	padding:5px;
	text-align: center;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	font-weight: bold;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
/*
.nice_table th:first-child{
	text-align: left;
	padding-left:20px;
}*/
.nice_table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.nice_table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.nice_table tr{
	text-align: center;
	padding-left:20px;
}
.nice_table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.nice_table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.nice_table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.nice_table tr:last-child td{
	border-bottom:0;
}
.nice_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.nice_table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.nice_table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

#captcha_input {
font-weight: bold;
vertical-align: top;
height: 38px  !important;
width: 100px !important;
font-size: 40px !important;
margin-right: 10px;
 
}
#captcha_img{ height: 56px; cursor: pointer;}
#captcha_reload{cursor: pointer;}
.logo_khachhang{
	margin: 0 auto;
	width: 902px;}
	
.logo_khachhang img{
	margin-right: 34px;}   