<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="all_app">
                    <match url="^_([a-zA-Z0-9_]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}.php/" />
                </rule>
                <rule name="all_app_detail">
                    <match url="^_([a-zA-Z0-9_]+)/(.+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}.php/{R:2}" />
                </rule>
                <rule name="all">
                    <match url="^[a-z0-9_\-\?\/]+$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
